<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="serviceErrorHandler" type="TheExtension.Service.UnhandledErrorBahaviorExtension, TheExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="endpointErrorHandler" type="TheExtension.Endpoint.UnhandledErrorBehaviorExtension, TheExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="TheService.FaultyService">
        <endpoint address="" binding="basicHttpBinding" name="httpBinding"
          contract="TheService.IFaultyService" />
        <endpoint address="" binding="netTcpBinding" name="netTcpBinding"
          contract="TheService.IFaultyService" />
        <endpoint address="mex" binding="mexHttpBinding" name="metadata"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:42001/TheService/FaultyService/" />
            <add baseAddress="net.tcp://localhost:42002/TheService/FaultyService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="">
          <endpointErrorHandler />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceErrorHandler />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
