<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="">
          <endpointErrorHandler />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="endpointErrorHandler" type="TheExtension.Endpoint.UnhandledErrorBehaviorExtension, TheExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcpBinding" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:42001/TheService/FaultyService/"
          binding="basicHttpBinding" bindingConfiguration="httpBinding"
          contract="FaultyService.IFaultyService" name="httpBinding" />
    </client>
  </system.serviceModel>
</configuration>