<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="serviceErrorHandler" type="TheExtension.Service.UnhandledErrorBahaviorExtension, TheExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="endpointErrorHandler" type="TheExtension.Endpoint.UnhandledErrorBehaviorExtension, TheExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="TheService.FaultyService">
        <endpoint address="" binding="basicHttpBinding" name="httpBinding"
          contract="TheService.IFaultyService" />
        <endpoint address="mex" binding="mexHttpBinding" name="metadata"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:42001/TheService/FaultyService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="">
          <endpointErrorHandler />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceErrorHandler />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>